.container {
  margin: auto;
  text-align: center;
}

.btn-group {
  flex-direction: column;
}


#freeform {
  margin: auto;
}

textarea {
  width: 100%;
}

li {
  list-style: none;
  text-align: center;
}
