.container {
  background: #f0ebf5;
  color: rebeccapurple;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.btn-group {
  flex-direction: column;
  content: center;
  color: rgba(255, 166, 0, 0.992);
}

#newTaskButton {
  background-color: #a75265;
  border-color: #a75265;
  box-shadow: 4px 4px 5px #8594e4;
}

#freeform {
  margin: auto;
  display: flex;
}
#InputName {
  margin: auto;
  display: flex;
}

h1 {
  text-align: center;
  padding-top: 35px;
  margin: auto;
}

button {
  text-align: center;
}

li {
  list-style: none;
  text-align: center;
}
