.container {
  margin: auto;
  text-align: center;
  color: rebeccapurple;
}

.btn-group {
  flex-direction: column;
  content: center;
  color: orange;
}

#freeform {
  margin: auto;
  display: flex;
}
#InputName {
  margin: auto;
  display: flex;
}

h1 {
  text-align: center;
}

button {
  text-align: center;
}

li {
  list-style: none;
  text-align: center;
}

textarea {
  width: auto;
  display: flex;
}

div.form-control {
  display: flex;
  width: auto;
  height: auto;
  background-color: teal;
}

/* Cards */
.card-container {
  float: left;
  gap: 10px;
}

.row {
  color: violet;
  flex-direction: row;
  flex-wrap: nowrap;
}

.col {
  display: inline-block;
  float: left;
}

.card {
  border-color: rgb(184, 144, 23);
  float: left;
}
